@model IEnumerable<MvcApps01.Models.cargo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cas_des)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cas_des)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.car_cod }) |
            @Html.ActionLink("Details", "Details", new { id=item.car_cod }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.car_cod })
        </td>
    </tr>
}

</table>
