@model IEnumerable<MvcApps01.Models.usuario>

@{
    ViewBag.Title = "UsuarioxCargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UsuarioxCargo</h2>

 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usu_cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_cod)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usu_cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car_cod)
        </td>
    </tr>
}
</table>